{% extends 'base.html' %}

{% load customtag %}

{% block content %}
    <div>
    {% if user.is_authenticated %}
    <h><p>Welcome, {{ user.username }}. Thanks for logging in. Now you can edit user data</p></h>

   {% include 'form.html' %}
        {{ name }}
        <p>You can also edit user data in <a href="{% get_admin_url obj %}">admin panel</a></p>

        <div id="loader" style="display:none"></div>
   <div class="success-message"></div>
{% else %}
    <p>Welcome, new user. To edit user data please <a href="{% url 'account_login' %}"> log in</a></p>
{% endif %}
    </div>



{% endblock %}

